.search-bar {
    position: relative; 
    display: inline-block; 
    width: 100%; 
}

.search-input {
    padding-right: 40px; 
    width: 100%; 
}

.search-bar .fa-search {
    position: absolute;
    right: 15px; 
    top: 35%; 
    transform: translateY(-50%); 
    color: #777; 
    pointer-events: none; 
}


/* DARK MODE */
.dark .search-input {
    background-color: #1a1a1a;
    color: #ffffff;
    border-color: #4a5568;
}

.dark .search-input::placeholder {
    color: #a0aec0; 
}
